* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container{
  height: 100vh;
}
.light{
  background: rgb(109, 117, 255);
}
.light *{
  color: black;
}
.dark{
  background: black;
}
.dark *{
  color: white;
}